/* PALETA DE CORES *

COR PRINC 1 : #6383C0
COR PRINC 2: #8DC2B0

COR SECUND 1: #3A5A40
COR SECUND 2: #344E41
COR SECUND 3: #251605

*/

* { font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; margin: 0px; padding: 0px; box-sizing: border-box;}


html, body { background-color: blueviolet;
height: 100vh; width: 100vw;}  /* A GRANDE DIFERENÇA É O CODE - OVERFLOW-HIDDEN */

main { width: 100vw; height: 100vh; position: relative;}

section#login { background:aliceblue; background-size:cover ; width: 260px; height: 500px; border-radius: 20px; position: absolute; background-repeat: no-repeat;
top: 50%; left: 50%; transform: translate(-50%,-50%); overflow: hidden; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479); transition: widht .3s; height: .3s; transition-timing-function: ease;}

section#login > div#img { background: url(../imagens/pexels-scottwebb-136205.jpg); height: 250px; background-size: cover;background-position: left, top; background-repeat: no-repeat; display: block;}

section#login > div#formu { padding: 10px; display: block; }

section#login > div#formu >h1 {margin-bottom: 10px; text-align: center;}

section#login > div#formu >p {font-size: .8em;}

form > input[type=submit] { display: block; font-size: 1em; width: 100%; height: 40px; background-color:#52C1C6;border: none;
color: white;}

